.main-chat
  .header
    .header-left
      .header-left__group-name
        = @group.name
      .header-left__member-name
        ="Member:" + @group.users.pluck(:name).join(", ")
    .header-right
      = link_to edit_group_path(@group),class: "header-right__edit" do
        Edit
  .chat-btm
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__text', placeholder: 'メッセージ' 
      .form-icon
        = f.label :image, class: 'form-icon__image' do
          = icon('fas', 'image', class: 'form-icon__image__icon') 
          = f.file_field :image, class: 'file-input' 
      = f.submit 'Send', class: 'send-box'